<body>
  <div class = "header">
    <div class = "name"> Math4All </div>
    <div></div>
    <div class = "blayout">
      <button class = "pill"> Home </button>
      <button class = "pill"> Our Team </button>
      <button class = "pill"> Archive </button>
      <button class = "pill"> Join Us</button>
      <button class = "pill"> Sponsors </button>
    </div>
  </div>
  <app-homepage></app-homepage>
  <p class = "footer">
    Copyright ​© 2023 Math4All. All rights reserved. 
  </p>
  <p class = "footer">
    Math4All is a registered 501(c)(3) non-profit and PVSA-certifying public charity.
  </p>
</body>