
<div class = "gradient">
    <div id = "container">
    <div id = "flexbox">
    <div class = "title"> Math4All </div>
    <div class ="subtitle"> Democratizing Competition Math </div>
    </div>
    <div id = "logo">
        <img src = "../assets/Math4All Logo.png" alt = "Enable JS" class = "rounded"> 
    </div>
    </div>
</div>

<div class = "display" id = "one">
<div class = "note1"> 
        <div class = "big"> Mission </div>
        <div class = "small"> Math4All is a 501(c)(3) nonprofit 
            dedicated to promoting math/problem solving and making 
            mathematics more accessible. By offering free, 
            high-quality contests and classes, we aim to level 
            the playing field in competitive math for underprivileged
            students who can’t afford expensive textbooks/tutoring,
            as well as foster a love for math and problem solving in 
            many students as possible. 
        </div> 
    </div>
</div>

<div class = "display" id = "two">
    <div class = "note2"> 
        <div class = "big"> Community </div> 
        <div class = "small">  Our events are able to reach over 1000 indviduals globally,
            over 800 of whom are in our discord server. We have
            over 40 experienced student volunteers who have or continue tohelp with Math4All events.
            We are extremely proud of every single member that contributes, either by planning or attending our events.
            We have reached students from over 25 countries, ranging from the US to Malaysia.
        </div>
    </div>
</div>

<div class = "display" id = "three">
    <div class = "note3"> 
        <div class = "big"> Classes </div>
        <div class = "small"> Math4All offers free, high quality live classeses meant to prepare for competition math. 
            High school students individually create courses about math topics in their expertise. Classes occur each
            year during the fall and spring sessions. Check out the classes for this year! 
        </div>
    </div>
</div>

<div class = "display" id = "four">
    <div class = "note4"> 
        <div class = "big"> Contests </div> 
        <div class = "small"> Throughout the year, Math4All staff members create contest math exams
        which are all individually taken during the contest time period. These free-to-attend contests are meant to give
        members in our community to gain some practice and reward the members with top scores. Check out the competitions
        from previous years! </div>
    </div>
</div>

<div class = "display" id = "five">
    <div class = "note5"> 
        <div class = "big"> Awards </div>
        <div class = "small"> There is no competition without winning prizes. 
            Math4All awards members in our community with the gracious sponsorships we recieve. Math4All has given
        out over $110,000 to students in our community ranging from notebooks, AoPS coupons, Gift Cards and participation awards. </div> 
    </div>
</div>

<div class = "display" id = "six">
    <div class = "note6"> 
        <div class = "big"> Sponsors </div> 
        <div class = "small"> The majority of Math4All runs on the help of volunteers and sponsorships. Financial donation to 
            Math4All allows us to comeback every year to provide awards to individuals in our community. 
            Since Math4All is also PVSA-certifying, students volunteer can recieve service hours for their
            voluntary contribution to our community. All of the money donated
            to our foundation will be directed towards our cause. All donations to our cause are also tax-deductible.
        </div>
    </div>
</div>