<body>
  <div class = "header">
    <div class = "blayout">
      <div class = "name"> <img src = "../assets/title.png" alt = "Math4All"  height= "100%"/> </div>
      <button class = "pill"> Our Team </button>
      <button class = "pill"> Classes </button>
      <button class = "pill"> Contests </button>
      <button class = "pill"> Join Us</button>
      <div class = "disclink"> <a  href = "https://discord.gg/xPkkQwEzAj"> <img src = "../assets/discord-icon-svgrepo-com.svg" alt = "Discord" width = "70px"> </a> </div>
    </div>
    
  </div>
  <app-homepage></app-homepage>
  <div class = "footer">
    <div>
    Copyright ​© 2023 Math4All. All rights reserved. 
    </div>
    <div>
    Math4All is a registered 501(c)(3) non-profit and PVSA-certifying public charity.
    </div>
  </div>
  <p class = "footer">
  </p>
</body>